/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --qwik-dark-blue: #006ce9;
    --qwik-light-blue: #18b6f6;
    --qwik-light-purple: #ac7ff4;
    --qwik-dark-purple: #713fc2;
    --qwik-dirty-black: #1d2033;
    --qwik-dark-background: #151934;
    --qwik-dark-text: #ffffff;
  }

.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  
  .btn-primary {
    @apply bg-purple-600 text-white;
  }
  
  .btn-primary:hover {
    @apply bg-purple-700;
  }
  
  button:disabled {
    @apply bg-gray-800;
  }